#horizontal_menu ul {
	text-align: center;
	border-bottom: 1px solid #888;
	padding-bottom: 10px;
	width: 800px;
	margin: 0 auto;	
}

#horizontal_menu ul li {
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
}

#horizontal_menu ul a:link, ul a:visited {
	text-decoration: none;
	background-color: #d0d0FF;
	color: #000;
	border: 1px solid #888;
	padding: 5px;
}

#horizontal_menu ul a:hover {
	background-color: #fff;
	border-bottom-color: #fff;
}
